body {
    padding-top: 50px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.tabs {
    margin: auto;
    text-align: center;
    width: 100%;
    list-style: none;
}

.tabs ul {
    list-style: none;
    background-color: rgb(39, 40, 34);
}

.tabs ul li {
    display: inline-block;
    margin: auto;
    text-align: center;
    list-style: none;
    color: #FFFFFF;
}

.tabs li.active > a,
.tabs li.active > a:hover,
.tabs li.active > a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: rgb(72, 73, 71);
}


/*991px 以下排版 ＳＴＡＲＴ*/

@media screen and (min-width: 375px) {
    p {
        text-align: center;
        color: rgb(96, 190, 174);
    }
    .every_spot_block {
        display: flex;
        flex: left;
        padding: 1px;
        margin-top: 10px;
    }
    .photo {
        max-width: 30%;
        max-height: 30%;
    }
    /*.navbar-inner {
        background-color: black;
    }*/
}
